.form-container {
    
   
height: 70vh;
width: 70vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 1em;



}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
// form {
//     height: 70vh;
        
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin-top: 20vh;
    
// }

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30vw;
}

.inputPrimary {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inputSecondary {
    
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
    
    border: 1px solid ;
  
    margin-right: 5%;
    border: 1px solid grey;
    

}


button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 30vw;
    background-color: #EF476F;
    
    cursor: pointer;
    position: relative;
}


button:hover {
    background-color:#EF476F;
    ;
    border-color: #26547C;
    color: #FFD166;
    
}

.inputs-container {
    overflow-y: scroll;
    max-height: 60vh;
}

