@import 'variables.scss';



nav {
    width: 100%;
    height: 5em;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    .access {
        margin-right: 5em;
        a {
            margin: 0 0.5em;
            line-height: 5em;
            height: 5em;
            padding: 0.5em 0.5em;
            box-shadow: inset 0 0 0 0 $deepBlue;
            transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            &:hover {
                transition: all 0.5s ease-in-out;
                box-shadow: inset 200px 0 0 0 $deepBlue;
                color: $yellow;
               
               text-decoration: double underline  ;
            }
        }
    }
}

h1 {
    margin-left: 1em;
}


.pre-flight {
vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 50pt;
    color: blue;
    color: #fff;
    background: linear-gradient(170deg, $yellow 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(100deg, $lightRed 34%, $lightRed 34%);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: Gradient 5s ease infinite;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 5s ease infinite;
    }
@keyframes Gradient {
    0% {
        background-position: 30% 50%
    }

    50% {
        background-position: 25% 50%
    }

    100% {
        background-position: 30% 50%
    }

}